<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Universe.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/processing.js")" type="text/javascript"></script>

</head>

<body>
    
    <div id="wrapper">
        <div id="header">
            <h2>@Html.ActionLink("Chav:P", "Galaxy", "Universe")</h2>
            <div id="menu">
                
            </div>
        </div>

        <div id="content">
            @RenderBody()
        </div>
        <div id="footer">
            <div>mail: my.parinya@gmail.com</div>
        </div>
    </div>

</body>
</html>
